* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}

body {
    font-family: Arial, Helvetica, sans-serif;

}

.container {
    max-width: 1200PX;
    margin: 0%;
    
}

.content img {
    width: 150PX;
    height: 50PX;

}



.content{
    min-height: 100px;
    background: linear-gradient(
    80deg,
    rgba(0, 0, 0, 0.8),
    rgba(255, 165, 0, 0.8)
);
}

.menu{
    position: absolute;
    top: 10px;
    left: 0%;
    right: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    font-size: 25px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
}

.menu .navbar ul li {
    position: relative;
    float: left;

}

.menu .navbar ul li a {
    font-size: 18PX;
    padding: 20PX;
    color: #DEDEDE;
    display: block;
    font-weight: bold;
}

menu .navbar ul li a :hover{
    color: #ffffff;
}

#menu{
    display: none;
}

.menu-icono {
    width: 25px;

}

.menu label{
    cursor: pointer;
    display: none;
}

